@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/gestionView.cshtml";
}

<section class="section">
    <h5 class="section-header">
        Reporte Por Proyecto
    </h5>
</section>
<div class="card">
    <div class="card-body">
        <form id="asda" action="@Url.Action("Reporte Proyecto")" method="get">
            <div class="row">
                <div class="col-sm-3">
                    <label>Proyecto <span class="text-danger">*</span></label>
                    <select name="idProyecto" class="form-control selectcount" required style="width:100%">
                        <option></option>
                        @foreach (var proyecto in ViewBag.ListaProyecto)
                        {
                            <option value="@proyecto["idProyecto"]">@proyecto["NombreProyecto"]</option>
                        }
                    </select>
                </div>
                <div class="text-center">
                    <label class="" d-block><b>&nbsp;</b></label>
                    <input type="submit" value="Filtrar" class="btn btn-danger btn-block btn-sm " style="background-color:#01abe8;border-color:#01abe8"/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Conteos Detallado Por Bodegas</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            Swal.fire({
              type: '@TempData["type"]',
              title: '@TempData["title"]',
              html: '@TempData["message"]',
            })
        </script>
        @TempData.Remove("type");
        @TempData.Remove("title");
        @TempData.Remove("message");
    }
    <script src="../dist/modules/chart.min.js"></script>
    <script>
        $(".selectcount").select2({
            placeholder: "Seleccionar",
            allowClear: true
        })
        var MONTHS = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre ', 'Diciembre'];
        var ctx = document.getElementById("myChart2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
                datasets: [{
                    label: 'Total Lineas',
                    data: [460, 458, 330, 502, 430, 610, 488],
                    borderWidth: 2,
                    backgroundColor: '#01abe8',
                    borderColor: '#01abe8',
                    borderWidth: 2.5,
                    pointBackgroundColor: '#ffffff',
                    pointRadius: 4
                },
                {
                    label: 'Lineas Contadas',
                    data: [400, 440, 310, 602, 440, 620, 388],
                    borderWidth: 2,
                    backgroundColor: '#94999c',
                    borderColor: '#94999c',
                    borderWidth: 2.5,
                    pointBackgroundColor: '#ffffff',
                    pointRadius: 4
                },
                {
                    label: 'Lineas Contadas',
                    data: [420, 430, 320, 622, 35, 610, 398],
                    borderWidth: 2,
                    backgroundColor: '#f0f0f0',
                    borderColor: '#f0f0f0',
                    borderWidth: 2.5,
                    pointBackgroundColor: '#ffffff',
                    pointRadius: 4
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Mes'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Cantidad'
                        }
                    }]
                }
            }
        });

    </script>

}
