@model DATABANK.Models.Reportes
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/gestionView.cshtml";
}

<section class="section">
    <h5 class="section-header">
        Reporte Por Proyecto
    </h5>
</section>
<div class="card">
    <div class="card-body">
        <form id="asda" action="@Url.Action("ReporteProyecto")" method="get">
            <div class="row">
                <div class="col-sm-3">
                    <label>Proyecto <span class="text-danger">*</span></label>
                    <select name="idProyecto" class="form-control selectcount" required style="width:100%">
                        <option></option>
                        @foreach (var proyecto in ViewBag.ListaProyecto)
                        {
                            <option value="@proyecto["idProyecto"]">@proyecto["NombreProyecto"]</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <label><b>Fecha inicial:</b></label>
                    <input type="text" id="FechaDesde" name="FechaDesde" class="form-control datepicker form-control-sm" />
                </div>
                <div class="col-sm-3">
                    <label><b>Fecha final:</b></label>
                    <input type="text" id="FechaHasta" name="FechaHasta" class="form-control datepicker form-control-sm" />
                </div>
                <div class="text-center">
                    <label class="" d-block><b>&nbsp;</b></label>
                    <input type="submit" value="Filtrar" class="btn btn-danger btn-block btn-sm " style="background-color:#01abe8;border-color:#01abe8" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Conteos Detallado Por Bodegas</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            Swal.fire({
              type: '@TempData["type"]',
              title: '@TempData["title"]',
              html: '@TempData["message"]',
            })
        </script>
        @TempData.Remove("type");
        @TempData.Remove("title");
        @TempData.Remove("message");
    }
    <script>
        $(".datepicker").flatpickr({
            dateFormat: "Y-m-d",
            "locale": "es",
            //enableTime: false,
            //minDate:new Date()
        });
        $(".selectcount").select2({
            placeholder: "Seleccionar",
            allowClear: true
        })
    </script>
    <script type="text/javascript">
        var Bodegas = new Array();
        var OK = new Array();
    </script>
    @foreach (var row in ViewBag.InventarioGrafica)
    {
        <script type="text/javascript">
            Bodegas.push(
                '@row["NombreBodega"]',
            )
        </script>
    }
    @foreach (var row in ViewBag.InventarioGrafica)
    {
        <script type="text/javascript">
                        OK.push({
                            label: 'OK',
                            data: [@row["OK"]],
                            borderWidth: 1,
                            backgroundColor: '#04B431',
                            borderColor: '#04B431',
                            pointRadius: 2
                        }),
                        OK.push({
                            label: 'SOBRANTES',
                            data: [@row["SOBRANTES"]],
                            borderWidth: 1,
                            backgroundColor: '#FACC2E',
                            borderColor: '#FACC2E',
                            //borderWidth: 2.5,
                            pointRadius: 2
                        }),
                        OK.push({
                            label: 'FALTANTES',
                            data: [@row["FALTANTES"]],
                            borderWidth: 1,
                            backgroundColor: '#ff0000',
                            borderColor: '#ff0000',
                            pointRadius: 2
                        })
        </script>
    }


    <script type="text/javascript">

        var ctx = document.getElementById("myChart2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Bodegas,
                datasets: OK
            },
            options: {
                legend: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true
                        }
                    }]
                }
            }
        });
    </script>

}
