@model DATABANK.Models.Proyecto
@{
    Layout = "~/Views/Shared/gestionView.cshtml";
}

<section class="section">
    <h5 class="section-header">
        Editar Proyecto
    </h5>
</section>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <small class="text-danger">Los campos con asteriscos son obligatorios.</small>
            </div>
        </div>
        <div class="row">
            <form action="@Url.Action("saveProyectoUpdate")" method="post" id="formsaveemployee" class="col-sm-12 row" enctype="multipart/form-data">
                <input type="hidden" name="idProyecto" value="@ViewBag.proyecto["idProyecto"]" />
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="h6">Imagen</h4>
                            <img src="@ViewBag.proyecto["logo"]" id="imgCompany" class="img-thumbnail" width="150" height="150" />
                            <div class="input-group input-group-lg">
                                <input type="file" name="logo" class="custom-file-input" onchange="document.getElementById('imgCompany').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-md-4 mb-3">
                            <div class="input-group input-group-lg">
                                <input type="file" name="logo" class="form-control-file" id="customFile" onchange="document.getElementById('imgCompany').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Sucursal <span class="text-danger">*</span></label>
                                <select name="idSucursal" class="form-control selectcount" required style="width:100%">
                                    <option></option>
                                    @foreach (var sucursal in ViewBag.ListaSucursal)
                                    {
                                        if (Convert.ToInt32(ViewBag.proyecto["idSucursal"]) == @sucursal["idSucursal"])
                                        {
                                            <option selected value="@sucursal["idSucursal"]">@sucursal["sucursal"]</option>
                                        }
                                        else
                                        {
                                            <option value="@sucursal["idSucursal"]">@sucursal["sucursal"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Identificación<span class="text-danger">*</span></label>
                                <input type="text" name="documento" class="form-control form-control-sm" required value="@ViewBag.proyecto["documento"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nombre Proyecto<span class="text-danger">*</span></label>
                                <input type="text" name="nombre" required class="form-control form-control-sm" value="@ViewBag.proyecto["nombreProyecto"]">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Descripción<span class="text-danger">*</span></label>
                                <textarea type="text" name="descripcion" required class="form-control form-control-sm">@ViewBag.proyecto["descripcion"]</textarea>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Departamento <span class="text-danger">*</span></label>
                                <select name="idDepartamento" id="idDepartamento" class="form-control selectcount" required style="width:100%">
                                    <option></option>
                                    @foreach (var departamento in ViewBag.ListaDepartamento)
                                    {
                                        if (Convert.ToInt32(ViewBag.proyecto["idDepartamento"]) == departamento["idDepartamento"])
                                        {
                                            <option selected value="@departamento["idDepartamento"]">@departamento["Departamento"]</option>
                                        }
                                        else
                                        {
                                            <option value="@departamento["idDepartamento"]">@departamento["Departamento"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Municipio <span class="text-danger">*</span></label>
                                <select name="idMunicipio" id="idMunicipio" class="form-control selectcount" required style="width:100%"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Cliente<span class="text-danger">*</span></label>
                                <input type="text" name="Cliente" required class="form-control form-control-sm" value="@ViewBag.proyecto["cliente"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Dirección<span class="text-danger">*</span></label>
                                <input type="text" name="direccion" required class="form-control form-control-sm" value="@ViewBag.proyecto["direccion"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Teléfono<span class="text-danger">*</span></label>
                                <input type="text" name="telefono" required class="form-control form-control-sm" value="@ViewBag.proyecto["telefono"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Estado <span class="text-danger">*</span></label>
                                <select name="idEstado" class="form-control selectcount" required style="width:100%">
                                    <option></option>
                                    @foreach (var estado in ViewBag.ListaEstado)
                                    {
                                        if (Convert.ToInt32(ViewBag.proyecto["idEstado"]) == @estado["idEstado"])
                                        {
                                            <option selected value="@estado["idEstado"]">@estado["estado"]</option>
                                        }
                                        else
                                        {
                                            <option value="@estado["idEstado"]">@estado["estado"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Semáforo<span class="text-danger">*</span></label>
                                <select name="Semaforo" class="form-control selectcount" required style="width:100%">
                                    <option></option>
                                    @foreach (var semaforo in ViewBag.ListaSemaforo)
                                    {
                                        if (ViewBag.proyecto["Semaforo"].ToString() == semaforo["Semaforo"].ToString())
                                        {
                                            <option selected value="@semaforo["Semaforo"]">@semaforo["Semaforo"]</option>
                                        }
                                        else
                                        {
                                            <option value="@semaforo["Semaforo"]">@semaforo["Semaforo"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <br><br>
                        <div class="row">
                            <div class="col-sm-6 text-right">
                                <div class="form-group">
                                    <a href="@Url.Action("proyectos")" class="btn btn-secondary" style="background-color:#94999c;border-color:#94999c">Cancelar</a>
                                </div>
                            </div>
                            <div class="col-sm-6 text-left">
                                <div class="form-group">
                                    <input type="submit" value="Guardar Proyecto" class="btn btn-danger" style="background-color:#01abe8;border-color:#01abe8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="h4">Asociar Usuarios al Proyecto</h4>
            </div>
        </div>
        <div class="row">
            <form action="@Url.Action("saveProyectoUsuario")" method="post" id="formsaveemployee" class="col-sm-12 row" enctype="multipart/form-data">
                <input type="hidden" name="idProyecto" value="@ViewBag.proyecto["idProyecto"]" />
                <div class="col-sm-6 usuario">
                    <div class="form-group">
                        <label>Usuario <span class="text-danger">*</span></label>
                        <select name="idUsuario"  class="form-control selectcount select " style="width:100%">
                            <option></option>
                            @foreach (var usuario in ViewBag.ListaUsuario)
                            {
                                <option value="@usuario["idUsuario"]">@usuario["Nombre"]</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 botones">
                    <div class="form-group">
                        <br>
                        <input type="button" id="agregar" value="Agregar Usuario" class="btn btn-info btn-sm" style="background-color:#94999c;border-color:#94999c">
                        <input type="button" id="crear" value="Crear Usuario" class="btn btn-info btn-sm" style="background-color:#01abe8;border-color:#01abe8">
                    </div>
                </div>
                <div class="col-sm-4 ocultar">
                    <div class="form-group">
                        <label>Nombre <span class="text-danger">*</span></label>
                        <input type="text" name="NombreUsuario"  class="form-control form-control-sm input">
                    </div>
                </div>
                <div class="col-sm-4 ocultar">
                    <div class="form-group">
                        <label>Apellido <span class="text-danger">*</span></label>
                        <input type="text" name="ApellidoUsuario"  class="form-control form-control-sm input">
                    </div>
                </div>
                <div class="col-sm-4 ocultar">
                    <div class="form-group">
                        <label>Documento <span class="text-danger">*</span></label>
                        <input type="text" name="DocumentoUsuario"  class="form-control form-control-sm input">
                    </div>
                </div>
                <div class="col-sm-4 ocultar">
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <input type="text" name="EmailUsuario"  class="form-control form-control-sm input">
                    </div>
                </div>
                <div class="col-sm-4 ocultar">
                    <div class="form-group">
                        <label>Teléfono <span class="text-danger">*</span></label>
                        <input type="text" name="TelefonoUsuario"  class="form-control form-control-sm input">
                    </div>
                </div>
                <div class="col-sm-4 boton">
                    <div class="form-group">
                        <br>
                        <input type="submit" id="guardar" value="Guardar Usuario" class="btn btn-info btn-sm" style="background-color:#01abe8;border-color:#01abe8">
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped filtros">
                            <thead>
                                <tr style="background-color:#434343; color:white;">
                                    <th>Usuario</th>
                                    <th class="text-center" style="width:10%">Todo</th>
                                    <th class="text-center" style="width:10%">Guardar</th>
                                    <th class="text-center" style="width:10%">Editar</th>
                                    <th class="text-center" style="width:10%">Eliminar</th>
                                    <th class="text-center" style="width:10%">Importar</th>
                                    <th class="text-center" style="width:10%">Exportar</th>
                                    <th class="text-center" style="width:10%">Estado</th>
                                    <th class="text-center" style="width:15%">Operación</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.ListaProyectoUsuario != null)
                                {
                                    foreach (var usuarios in ViewBag.ListaProyectoUsuario)
                                    {
                                        <tr>
                                            <td>@usuarios["NombreUsuario"]</td>
                                            <td class="text-center" style="width:10%">
                                                @{
                                                    ViewBag.todo = "";
                                                    if (usuarios["Todo"] == "1")
                                                    {
                                                        ViewBag.todo = "checked";
                                                    }
                                                }
                                                <input type="checkbox" class="form-check-input checkbox user_@usuarios["idProyectoUsuario"]" name="Todo" id="todo_@usuarios["idProyectoUsuario"]" value="1" style="width:25px;height:25px;" @ViewBag.todo>
                                            </td>
                                            <td class="text-center" style="width:10%">
                                                @{
                                                    ViewBag.guardar = "";
                                                    if (usuarios["Guardar"] == "1")
                                                    {
                                                        ViewBag.guardar = "checked";
                                                    }
                                                }
                                                <input type="checkbox" class="form-check-input checkbox user_@usuarios["idProyectoUsuario"]" name="Guardar" value="1" id="guardar_@usuarios["idProyectoUsuario"]"  style="width:25px;height:25px;" @ViewBag.guardar>
                                            </td>
                                            <td class="text-center" style="width:10%">
                                                @{
                                                    ViewBag.editar = "";
                                                    if (usuarios["Editar"] == "1")
                                                    {
                                                        ViewBag.editar = "checked";
                                                    }
                                                }
                                                <input type="checkbox" class="form-check-input checkbox user_@usuarios["idProyectoUsuario"]" name="Editar" value="1" id="editar_@usuarios["idProyectoUsuario"]" style="width:25px;height:25px;" @ViewBag.editar>
                                            </td>
                                            <td class="text-center" style="width:10%">
                                                @{
                                                    ViewBag.eliminar = "";
                                                    if (usuarios["Eliminar"] == "1")
                                                    {
                                                        ViewBag.eliminar = "checked";
                                                    }
                                                }
                                                <input type="checkbox" class="form-check-input checkbox user_@usuarios["idProyectoUsuario"]" name="Eliminar" value="1" id="eliminar_@usuarios["idProyectoUsuario"]" style="width:25px;height:25px;" @ViewBag.eliminar>
                                            </td>
                                            <td class="text-center" style="width:10%">
                                                @{
                                                    ViewBag.importar = "";
                                                    if (usuarios["Importar"] == "1")
                                                    {
                                                        ViewBag.importar = "checked";
                                                    }
                                                }
                                                <input type="checkbox" class="form-check-input checkbox user_@usuarios["idProyectoUsuario"]" name="Importar" value="1" style="width:25px;height:25px;"  id="importar_@usuarios["idProyectoUsuario"]" @ViewBag.importar>
                                            </td>
                                            <td class="text-center" style="width:10%">
                                                @{
                                                    ViewBag.exportar = "";
                                                    if (usuarios["Exportar"] == "1")
                                                    {
                                                        ViewBag.exportar = "checked";
                                                    }
                                                }
                                                <input type="checkbox" class="form-check-input checkbox user_@usuarios["idProyectoUsuario"]" name="Exportar" value="1" style="width:25px;height:25px;" id="exportar_@usuarios["idProyectoUsuario"]"  @ViewBag.exportar>
                                            </td>
                                            <td class="text-center" style="width:10%">
                                                @usuarios["Estado"]
                                            </td>
                                            <td class="text-center" style="width:15%">
                                                <a class="btn btn-success btn-action d-none guardarpermiso_@usuarios["idProyectoUsuario"] guardar" data-user="@usuarios["idProyectoUsuario"]" data-status="@usuarios["idEstado"]" data-text="de guardar estos permisos de usuario"><i class="fa fa-check"></i></a>
                                                <a class="btn btn-danger btn-action mr-1 editarpermiso" data-id="@usuarios["idProyectoUsuario"]" title="Editar Permisos" data-iduser="user_@usuarios["idProyectoUsuario"]" style="background-color:#01abe8;border-color:#01abe8"><i class="fa fa-edit"></i></a>
                                                @if (Convert.ToInt32(usuarios["idEstado"]) == 1)
                                                {
                                                    <a class="btn btn-danger btn-action deActivateProyecto" data-user="@usuarios["idProyectoUsuario"]" data-status="@usuarios["idEstado"]" data-text="de desactivar el usuario de este proyecto" style="background-color:#94999c;border-color:#94999c"><i class="fa fa-power-off"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-success btn-action deActivateProyecto" data-user="@usuarios["idProyectoUsuario"]" data-status="@usuarios["idEstado"]" data-text="de activar el usuario de este proyecto"><i class="fa fa-check"></i></a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <br>
                <a href="@Url.Action("proyectos")" class="btn btn-secondary"><i class="fas fa-arrow-left" style="background-color:#94999c;border-color:#94999c">  Volver</i></a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            Swal.fire({
                type: '@TempData["type"]',
                title: '@TempData["title"]',
                html: '@TempData["message"]',
                showConfirmButton: false,
                width: 300,
                High: 300,
                timer: 3000
            })
        </script>
    }
<script type="text/javascript">

        $(".fijo").mask('000000000000000');
        $(".phonee").mask('(000) 000-0000');
        $(".selectcount").select2({
            placeholder: "Seleccionar",
            allowClear: true
        })
        $(".selectcount1").select2({
            placeholder: "Seleccionar",
            allowClear: true
        })
        $(".selectcount2").select2({
            placeholder: "Seleccionar",
            allowClear: true
        });
        $(document).ready(function () {
            $('.ocultar').hide();
            $('.usuario').hide();
            $('.boton').hide();
            $('.checkbox').attr('disabled','disabled');
        });

        $("#agregar").on("click", function () {
            $('.usuario').show();
            $('.input').prop('required', false);
            $('.select').prop('required', true);
            $('.botones').hide();
            $('.boton').show();
        });
        $("#crear").on("click", function () {
            $('.ocultar').show();
            $('.input').prop("required", true);
            $('.select').prop("required", false);
            $('.botones').hide();
            $('.boton').show();
        });



        $(".editarpermiso").on("click", function () {
            var edi = $(this);
            $('.' + edi.data('iduser')).removeAttr('disabled');
            edi.hide();
            $('.guardarpermiso_' + edi.data('id')).removeClass('d-none');
        });


        $("#guardarpermiso").on("click", function () {
            $('.checkbox').attr('disabled','disabled');
            $('#editarpermiso').show();
        });


        $(document).on("click", ".guardar", function () {
            var id = $(this).data("user");
            var okk = $(this).data("text")
            if ($('#todo_'+id).prop('checked')) {
                var t = '1'
            }
            else {
                var t = '0'
            }
            if ($('#guardar_' + id).prop('checked')) {
                var g = '1'
            }
            else {
                var g = '0'
            }
            if ($('#editar_' + id).prop('checked')) {
                var e = '1'
            }
            else {
                var e = '0'
            }
            if ($('#eliminar_' + id).prop('checked')) {
                var d = '1'
            }
            else {
                var d = '0'
            }
            if ($('#importar_' + id).prop('checked')) {
                var im = '1'
            }
            else {
                var im = '0'
            }
            if ($('#exportar_' + id).prop('checked')) {
                var ex = '1'
            }
            else {
                var ex = '0'
            }
            Swal.fire({
                title: "¿Está Seguro?",
                html: okk,
                type: 'question',
                showCancelButton: true,
                showConfirmButton: true,
                confirmButtonColor: '#01abe8',
                cancelButtonColor: '#94999c',
                confirmButtonText: 'Aceptar',
                width: 330,
                High: 330,
            }).then((result) => {
                if (result.value) {
                    $.get("/administrador/savePermiso/" +id+ "/" +t+ "/" +g+ "/" +e+ "/" +d+ "/" +im+ "/" + ex, function (data) {
                        if (data.result == 1) {
                            Swal.fire({
                                type: 'success',
                                title: "Usuario modificado con éxito. ",
                                showConfirmButton: true,
                                confirmButtonColor: '#01abe8',
                                cancelButtonColor: '#94999c',
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                            });
                        }
                        location.reload();
                    });
                }
            });
        });
        $(document).on("click", ".deActivateUserProyecto", function () {
            var jas = $(this).data("user")
            var okk = $(this).data("text")
            var aaa = $(this).data("status")
            Swal.fire({
                title: "¿Está Seguro?",
                html: okk,
                type: 'question',
                showCancelButton: true,
                showConfirmButton: true,
                confirmButtonColor: '#01abe8',
                cancelButtonColor: '#94999c',
                confirmButtonText: 'Aceptar',
                width: 330,
                High: 330,
            }).then((result) => {
                if (result.value) {
                    $.get("/administrador/deActivateUserProyecto/" + jas + "/" + aaa, function (data) {
                        if (data.result == 1) {
                            Swal.fire({
                                type: 'success',
                                title: "Usuario modificado con éxito. ",
                                showConfirmButton: true,
                                confirmButtonColor: '#01abe8',
                                cancelButtonColor: '#94999c',
                                confirmButtonText: 'Aceptar',
                                cancelButtonText: 'Cancelar',
                            });
                        }
                        location.reload();
                    });
                }
            });
        });
        $("#idDepartamento").change(function () {
            var koa = $(this).val();
            if (parseInt(koa) > 0) {
                $.get("/administrador/getDepartamentoMunicipio", { id: koa }, function (data) {
                    data = $.parseJSON(data);
                    $("#idMunicipio").empty();
                    $("#idMunicipio").append("<option ></option>")
                    $.each(data, function (index, row) {
                        if (@ViewBag.proyecto["idMunicipio"] == row.idMunicipio)
                            $("#idMunicipio").append("<option selected value='" + row.idMunicipio + "'>" + row.Municipio + "</option>")
                        else
                            $("#idMunicipio").append("<option  value='" + row.idMunicipio + "'>" + row.Municipio + "</option>")
                    });
                });
                //$("#statuscontract").select2()
            }
            $("#idMunicipio").empty();
        });
        $("#idDepartamento").val(@ViewBag.proyecto["idDepartamento"]).trigger("change");
        $(document).ready(function () {
            setTimeout($("#idMunicipio").val(@ViewBag.proyecto["idMunicipio"]).trigger("change")
                , 10000);
        });
</script>
}


