@model DATABANK.Models.usuarios
@{
    ViewBag.Title = "Creacion Empleado";
    Layout = "~/Views/Shared/gestionView.cshtml";
}

<section class="section">
    <h5 class="section-header">
        Editar usuario
    </h5>
</section>
<div class="card">
    <div class="card-header">
        <div class="col-sm-12 row">
            <span class="">Editar usuario</span>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <small class="text-danger">Los campos con asteriscos son obligatorios.</small>
            </div>
        </div>
        <div class="row">
            <form action="@Url.Action("saveUsuarioUpdate")" method="post" id="formsaveemployee" class="col-sm-12 row" enctype="multipart/form-data">
                <input type="hidden" name="idUsuario" value="@ViewBag.usuario["idUsuario"]" />
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="h6">Imagen de Perfil</h4>
                            <img src="@ViewBag.usuario["imagen"]" id="imgCompany" class="img-thumbnail" width="150" height="150" />
                            <div class="input-group input-group-lg">
                                <input type="file" name="imagen" class="custom-file-input" onchange="document.getElementById('imgCompany').src = window.URL.createObjectURL(this.files[0])" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-md-4 mb-3">
                            <div class="input-group input-group-lg">
                                <input type="file" name="imagen" class="form-control-file" id="customFile" onchange="document.getElementById('imgCompany').src = window.URL.createObjectURL(this.files[0])">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nombre<span class="text-danger">*</span></label>
                                <input type="text" name="nombre" class="form-control form-control-sm" value="@ViewBag.usuario["nombre"]" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Apellido<span class="text-danger">*</span></label>
                                <input type="text" name="apellido" required class="form-control form-control-sm" value="@ViewBag.usuario["apellido"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Documento<span class="text-danger">*</span></label>
                                <input type="text" name="documento" required class="form-control form-control-sm" value="@ViewBag.usuario["documento"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Teléfono Movil<span class="text-danger">*</span></label>
                                <input type="text" name="telefono" required class="form-control form-control-sm phonee" value="@ViewBag.usuario["telefono"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Dirección<span class="text-danger">*</span></label>
                                <input type="text" name="direccion" required class="form-control form-control-sm" value="@ViewBag.usuario["direccion"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Email<span class="text-danger">*</span></label>
                                <input type="email" name="email" required class="form-control form-control-sm" value="@ViewBag.usuario["email"]">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Perfil <span class="text-danger">*</span></label>
                                <select name="idPerfil" class="form-control selectcount" required style="width:100%">
                                    <option></option>
                                    @foreach (var perfil in ViewBag.ListaPerfil)
                                    {
                                        if (Convert.ToInt32(ViewBag.usuario["idPerfil"]) == @perfil["idPerfil"])
                                        {
                                            <option selected value="@perfil["idPerfil"]">@perfil["perfil"]</option>
                                        }
                                        else
                                        {
                                            <option value="@perfil["idPerfil"]">@perfil["perfil"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Estado <span class="text-danger">*</span></label>
                                <select name="idEstado" class="form-control selectcount" required style="width:100%">
                                    <option></option>
                                    @foreach (var estado in ViewBag.ListaEstado)
                                    {
                                        if (Convert.ToInt32(ViewBag.usuario["idEstado"]) == @estado["idEstado"])
                                        {
                                            <option selected value="@estado["idEstado"]">@estado["estado"]</option>
                                        }
                                        else
                                        {
                                            <option value="@estado["idEstado"]">@estado["estado"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Contraseña<span class="text-danger">*</span></label>
                                <input type="password" value="@ViewBag.contrasenaFinal" name="passwordstring" id="newpass" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Confirmar Contraseña<span class="text-danger">*</span></label>
                                <input type="password" value="@ViewBag.contrasenaFinal" name="passwordstringdual" id="confimnewpass" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <br><br>
                            <div class="row">
                                <div class="col-sm-6 text-right">
                                    <div class="form-group">
                                        <a href="@Url.Action("usuarios")" class="btn btn-secondary" style="background-color:#94999c;border-color:#94999c">Cancelar</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-left">
                                    <div class="form-group">
                                        <input type="submit" value="Guardar usuario" class="btn btn-danger" style="background-color:#01abe8;border-color:#01abe8">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            Swal.fire({
                type: '@TempData["type"]',
                title: '@TempData["title"]',
                html: '@TempData["message"]',
                showConfirmButton: false,
                width: 300,
                High: 300,
                timer: 3000
            })
        </script>
    }
    @if (Convert.ToInt32(ViewBag.usuario["idPerfil"]) == 1)
    {
        <script type="text/javascript">
        </script>
    }
    <script type="text/javascript">
        $(".fijo").mask('000000000000000');
        $("#phonee").mask('(000) 000-0000');
        $(".selectcount").select2({
            placeholder: "Seleccionar",
            allowClear: true
        })
        $(".selectcount1").select2({
            placeholder: "Seleccionar",
            allowClear: true
        })
        $(".selectcount2").select2({
            placeholder: "Seleccionar",
            allowClear: true
        })
        $("#newpass").change(function () {
            //$(".eee").html("*")
            $(this).prop("required", true)
            $("#confimnewpass").val("").prop("required", true)
        })
        $("#confimnewpass").change(function () {
            if ($("#newpass").val().length > 0) {
                //$(".llo").prop("disabled", true)
                //$(".eee").html("*")
                $("#newpass").prop("required", true)
                $("#confimnewpass").prop("required", true)
            }
        })
        $('#confimnewpass').blur(function () {
            if ($("#confimnewpass").val().length > 0) {
                if ($("#newpass").val() != $("#confimnewpass").val()) {
                    $(".llo").prop("disabled", false);
                    Swal.fire({
                        type: 'error',
                        title: "Las contraseñas no coinciden, verifique.",
                        showConfirmButton: true,
                        width: 300,
                        High: 300,
                        timer: 2500
                    });
                }
            }
        });
        $.validator.addMethod("pwcheck", function (value, element) {
            return /^[A-Za-z0-9]/.test(value) // consists of only these
                && /[a-z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
            /*&& /([-,!,%,&,#,$,^,*,?,_,~])/.test(value)*/
        });
    </script>
}


